/* subscribe widget */
#subscribe{ background:#FEFEFE url(images/bg-box.png) repeat-x; 
	width:290px;
	height: 80px; 
	margin:0px 0px 15px 0px;
	padding:8px 5px;
	border:1px solid #ddd;
	font-size:90%;
	padding-bottom: 10px;
	  }
.subscribe_icons{ width:286px; margin:0px auto; }
.subscribe_icons li{ display:inline; float:left; margin:0px 2px 5px 2px; width:52px; text-align:center; font-size:11px; }
.subscribe_icons a{ display:block; padding:40px 0px 2px; -webkit-transition:all .2s ease-out; -moz-transition:all .2s ease-out; color:#444 !important; }
.subscribe_icons a:hover{ color:#369 !important; text-decoration:none; -moz-box-shadow:0px 2px 4px hsla(0,0%,0%,.35); -webkit-box-shadow:0px 2px 4px hsla(0,0%,0%,.35); }
.subscribe_icons .subscribe_buzz a{ background:url(images/icon-google.png) center top no-repeat; }
.subscribe_icons .subscribe_twitter a{ background:url(images/icon-twitter.png) center top no-repeat; }
.subscribe_icons .subscribe_facebook a{ background:url(images/icon-facebook.png) center top no-repeat; }
.subscribe_icons .subscribe_rss a{ background:url(images/icon-rss.png) center top no-repeat; }
.subscribe_icons .subscribe_email a{ background:url(images/icon-email.png) center top no-repeat; }
